<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
  <h1>Welcome to Tarot Reader</h1>
  <p class="lead">
   Ask a question and get a random card 
  </p>
  <div ng-show="randomCardLoaded">
    <img ng-src="images/cards/{{randomCard.shortName}}.jpg" />
    <h2>{{randomCard.name}}</h2>
    <p ng-bind-html="randomCard.meaning"></p>
  </div>
  <p><a class="btn btn-lg btn-success"  ng-click="newRandomCard()">Get Random Card</a></p>
</div>

<div class="row marketing">
  <div ng-repeat="thing in awesomeThings">
      <h4>{{thing.name}}</h4>
      <p>{{thing.info}}</p>
  </div>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
